/*==================================================================*/
/* Entête de page : Logo, menus, identification                     */
/* Initialement dans style.css.php                                  */
/*==================================================================*/

/* Rend le bandeau fixe en haut de toutes les pages */
body {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

#scrolable {
  overflow-y: auto;
}

/* Styles communs à toutes les tailles de fenêtres */
.bandeau-haut * {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: min(3vw, 20px);
  /* //TODO ??? */
  font-size: 14px;
}

.bandeau-haut a {
  color: var(--couleur_lien);
}

.menu-haut form li {
  margin: 5px 2px 10px 2px;
}

.menu-haut ul {
  /* Pour les pages forum */
  list-style-type: none;
}

.menu-haut .edit-posts {
  color: orange;
}

.menu-bouton:not(.menu-liste) hr {
  border-color: grey;
}

/* Fenêtres larges, tablettes, PC */
@media screen and (min-width: 500px) {

  .menu-liste>div,
  .menu-titre,
  .menu-recherche {
    display: none;
  }

  /*.bandeau-haut {
    background-image: var(--image_bandeau);
    background-repeat: no-repeat;
  }

  .recherche-haut {
    float: right;
    padding: 11px 0;
    font-size: 16px;
  }

  .recherche-haut input {
    font-size: 16px;
  }

  .recherche-haut a {
    padding-right: 2px;
    font-size: 18px;
  }

  .menu-haut {
    clear: both;
  }*/

  /* Blocs rétractables en dessous des boutons */
  .menu-bouton:not(.menu-liste)>p,
  .menu-bouton:not(.menu-liste)>ul,
  .menu-bouton:not(.menu-liste)>form {
    position: absolute;
    margin: 2px 0 0 -4px;
    border-radius: 0 10px 10px 10px;
    border: 2px solid var(--couleur_decoration_titres);
    background: var(--couleur_fond);
    padding: 0 4px;
    opacity: 0;
    max-height: 110%;
    /* //KESAKO ? */
    overflow-y: auto;
    z-index: -2000;
    /* Les controles de cartes leaflet sont z-index 1000 */
  }

  /* Ligne de menus */
  .menu-touch:not(.menu-liste)>ul,
  .menu-hover:not(.menu-liste)>ul,
  .menu-touch:not(.menu-liste)>form,
  .menu-hover:not(.menu-liste)>form,
  .menu-hover:not(.menu-liste)>p,
  .menu-hover:not(.menu-liste)>a {
    opacity: 1;
    z-index: 2000;
  }

  /* Boutons */
  .menu-bouton:not(.menu-liste) {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 2px;
  }

  /* Lignes des blocs rétractables */
  .menu-bouton:not(.menu-liste) li {
    max-height: 0;
    transition: max-height 0.2s ease-in;
  }

  .menu-touch:not(.menu-liste) li,
  .menu-hover:not(.menu-liste) li {
    /* Pour transition */
    max-height: 2.2em;
  }

  .menu-liste>ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .menu-connexion {
    float: right;
  }

  .menu-connexion ul {
    right: 0;
    border-radius: 10px 0 10px 10px !important;
  }

  .menu-connexion span span {
    vertical-align: super;
    font-size: 12px;
  }
}

/* Fenêtres étroites */
@media screen and (max-width: 499.9px) {

  wwwwwwwwwwwwwwwwww .recherche-haut,
  .menu-large,
  .menu-bouton p {
    display: none;
  }

  .bandeau-haut * {
    font-size: 16px;
  }

  .menu-haut {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: var(--couleur_fond_titre);
    color: var(--couleur_texte);
  }

  .menu-haut>.menu-bouton,
  .menu-haut>.menu-bouton div {
    font-size: 20px;
  }

  /* Boutons */
  div.menu-bouton>span,
  .menu-titre {
    padding: 0 8px 2px 8px;
    font-size: 20px;
    font-weight: 700;
    color: var(--couleur_titre);
    cursor: pointer;
  }

  /* Blocs rétractables en dessous des boutons */
  .menu-liste>ul,
  .menu-recherche ul,
  .menu-connexion ul {
    position: absolute;
    border-radius: 0 0 10px 10px;
    border: 2px solid var(--couleur_decoration_titres);
    padding: 0 4px;
    background: var(--couleur_fond);
    white-space: nowrap;
    z-index: -10;
    opacity: 0;
    max-height: calc(100vh - 30px);
    overflow-y: auto;
  }

  /* Lignes des blocs rétractables */
  .menu-liste li,
  .menu-connexion li {
    max-height: 0;
    transition: max-height 0.2s ease-in;
  }

  .menu-liste.menu-touch>ul,
  .menu-liste.menu-hover>ul,
  .menu-recherche.menu-touch>ul,
  .menu-recherche.menu-hover>ul,
  .menu-connexion.menu-touch>ul,
  .menu-connexion.menu-hover>ul {
    opacity: 1;
    z-index: 1000;
  }

  .menu-titre * {
    padding-top: 4px;
    font-size: 18px;
    color: var(--couleur_titre) !important;
  }

  .menu-recherche ul,
  .menu-connexion ul {
    right: 0;
  }

  .menu-connexion.menu-touch>ul,
  .menu-connexion.menu-hover>ul,
  .menu-liste.menu-touch>ul,
  .menu-liste.menu-hover>ul,
  .menu-recherche.menu-touch>ul,
  .menu-recherche.menu-hover>ul {
    opacity: 1;
    z-index: 2000;
  }

  .menu-liste.menu-touch li,
  .menu-liste.menu-hover li {
    max-height: initial;
  }

  .menu-liste.menu-touch ul ul li,
  .menu-liste.menu-hover ul ul li,
  .menu-connexion.menu-touch li,
  .menu-connexion.menu-hover li {
    padding: 1.5px 0;
    max-height: 1.2em;
  }
}

/* On enlève la ligne haute du bandeau pour les fenêtres de faible hauteur quelle que soit la largeur */
/*@media screen and (max-height: 500000px) { //TODO DELETE
  .logo-haut,
  .recherche-haut,
  .menu-titre span {
    display: none;
  }

  .bandeau-haut {
    background-image: none;
  }

#scrolable ,
  .menu-bouton:not(.menu-liste)>p,
  .menu-bouton:not(.menu-liste)>ul {
  overflow-y: initial;
   }
} */

/********** Bandeau info **********/
/* Placé ici pour ne pas ajouter un fichier spécifique */
.bandeau-info {
  border: 1px solid red;
  border-radius: 5px;
  margin: 0 0.5%;
  padding: 0 2px 2px 2px;
}

.bandeau-info span {
  color: orange;
}

.bandeau-info .edit-info {
  text-decoration: line-through;
}